        <% if (!user || !(user.isSuperuser() || user.hasPerm("createEvents") || user.hasPerm("joinEvents"))) { %>
          <% include ../_signup_button.ejs %>
          <p>
              Attending most events requires a subscription, sign up by clicking
              the button to the right.
          </p>
        <% } %>
        <p>
            The calendar below lists events color-coded by event type
            <em>
              (<strong><a href="https://circleanywhere.com/event-types" target="_blank">read more here</a></strong>).
            </em>
        </p>
        <p>
            If an event is full or locked, you may want to visit our
            <strong>
                <a href="/lounge/instructions">lounge</a>
            </strong>
        </p>
