<% include ../../_header.ejs %>
<% include ../../_navbar.ejs %>

<div class="container lounge-instructions-container">
      <h3 class="title">What is the CircleAnywhere Lounge?</h3>
      <p class="description">
           We provide the Lounge as a community space for members to connect
           when no Circling events are scheduled. It currently supports
           twenty-four total users, inside three eight-person breakouts, and
           basic chat.
      </p>
      <h3 class="title">What happens in the Lounge?</h3>
      <p class="description">
           Anything you like! We consider the Lounge 'open adult play'. We
           encourage you to follow the principles of Circling.
      </p>
      <h3 class="title">Other useful information</h3>
      <ul class="points">
        <li>
            Excepting maintenance windows, the Lounge is open 24 hours a day, 7
            days a week.
        </li>
        <li>
            There is no guarantee anyone will be in the Lounge, it's a 'show
            up and see' situation!
        </li>
        <li>
            There is no official facilitation, and thus, no 'quality control'.
        </li>
        <li>
            We gather general data about the usage of the Lounge, for the
            purpose of enhancing/adjusting our existing schedule of events.
        </li>
      </ul>
      <p class="lounge-link">
        <a href="/event/lounge"><button class="btn btn-primary lounge-button">Ok, take me to the lounge!</button></a>
      </p>

</div>

<%- requireScripts("/public/js/header-basic.js") %>
<% include ../../_page_footer.ejs %>
<% include ../../_analytics.ejs %>
