<h2>
  Terms of Use
</h2>

<h3>
  Welcome to Circling Europe!
</h3>

<p>
  Circling and Surrendered Leadership are practices that involve looking at and being intimate with the structures of one’s personal reality, which includes how we make sense of experience, individually and collectively. We find these practices to consistently deliver deeply meaningful experiences, and believe a few clarifications can make this accessible to you. Because Circling is unique, carrying over assumptions from other practices can lead to misunderstandings about who we are, what we do, and how you are invited to engage. It is our intention to make it clear what Circling is and isn't.
</p>

<p>
  Read over the following statements to determine whether or not Circling will be a good fit for you.
</p>

<h4 class="section-header">
  Responsibility
</h4>

<p>
  We see you as a free agent capable of honest self-assessment and responsible choice. This is an invitation to take responsibility for:
</p>

<ul>
     <li>
       Yourself and your experience
     </li>
     <li>
       Choices you’re making about what you’re accepting as true and significant
     </li>
     <li>
       How you’re participating in and helping to sustain your situation
     </li>
     <li>
       The beliefs and choices you’re bringing to the situation (wittingly or unwittingly) that are informing your experience.
     </li>
</ul>

<p>
  We refer generally to the willingness to take responsibility in these terms as “owning your experience”.
</p>

<h4 class="section-header">
  Not Psychotherapy
</h4>

<p>
  Circling and Surrendered Leadership as we practice them lead to transformational growth, but we do this through surrender, self-leadership, and interconnection rather than aiming for healing outcomes directly (like many modalities do). While honoring a wide variety of wisdom and psychological discernments from many schools of thought, we do not follow a therapeutic model of diagnosis and treatment. Our method is educational. Our emphasis is connection.
</p>

<p>
  Circling Europe’s facilitators and coaches are guides in a journey of presence, connection, and aliveness. We do not prescribe choices or actions. We are not psychotherapists (although we love psychotherapy and highly recommend it); we do not see you as being in a therapeutic relationship with our facilitators. We work in the present moment, assuming wholeness that can include greater wholeness, exploring connection, staying mindful to notice the cost of reality choices and labels that too easily lead to misunderstanding or pathologizing. We bring a fresh set of eyes to what is happening, with the aim of understanding how updating our beliefs about what is happening can update our reality.
</p>

<p>
  Circling and Surrendered Leadership:
</p>

<ul>
     <li>
       Are practices of connection and meditation
     </li>
     <li>
       Aim is to reveal more presence
     </li>
     <li>
       Are open and intimate forums where we encourage our participants to speak and explore evolutionary ideas such as “getting somewhere” or the intent to grow and develop, but we do not presume that these things are the drivers of experience. Paradoxically this often results in accelerated development by bringing to light previously unseen motivations and agendas
     </li>
     <li>
       Maintain a non-goal orientation that is encapsulated in the principle of “being with the other in their world.”
     </li>
</ul>

<h4 class="section-header">
  The Structure and Expectations of Leadership
</h4>

<p>
  You may have specific expectations about what a leader should do, or what a practice group should look like and include. We may not follow these expectations, partially because we may not know what they are (and you may not either!). Some examples are:
</p>

<ul>
     <li>
       Telling people what to do
     </li>
     <li>
       Stating the “right way” to act
     </li>
     <li>
       Making sure everyone gets along
     </li>
     <li>
       That the internal experiences of the leaders are not part of the process
     </li>
     <li>
       That the leaders will provide a clear interpretation of what is happening, why it is happening and the way it is happening. We will always act in ways that serve good practice, which may or may not include providing such clarity.
     </li>
</ul>

<p>
  In lieu of these, we adhere to the precepts of “Surrendered Leadership”, inviting you to “lead” yourself in any way you feel is right for you—taking a bathroom break whenever you need, for example, asking a question—and to “lead” the group in full acknowledgement that others are practicing the same sort of self-leadership and to consider their responses as feedback to that leadership, in the context of the moment. This invitation to listen to the voice of inner direction follows the principle of “trust your experience.”
</p>

<h4 class="section-header">
  Is this Right for You?
</h4>

<p>
 Our workshops can be intense. People encounter places, states, emotions, beliefs, and sensations in themselves and others that are sometimes unfamiliar. We explore the unknown, the volatile, the ambiguous, as well as welcome emotions many deem as “negative” or “inappropriate” such as feelings of inadequacy, anger, sexuality, and joy. We refer to the willingness to feel difficult and uncomfortable truths as the “commitment to connection”, which of course includes a willingness to set appropriate boundaries, and speak a desire for space, distance, and non-contact. By attending our events you take responsibility for choosing to leave the practice or participate in any given moment—which might include getting intimate with these kinds of experiences.
</p>

<p>
  We will often explore multiple sides of seeming opposites at once, such as independence and interdependence, chaos and order, agreement and disagreement. We believe this can reveal an underlying unity of the immediacy of experience.
</p>

<p>
If the above description of our workshops sounds potentially overwhelming or destabilizing for you, if you have mental illness or significant emotional challenges that you feel may be exacerbated by this type of transformational environment, or if you are not sure that you can be self-directed in taking care of your needs during the event, then we advise you not to enroll.
</p>
