<h2>Terms of Use</h2>

<div>Welcome to Circling Europe!</div>
<div><br></div>
<div>Circling and Surrendered Leadership are practices that involve looking at and being intimate with the structures of one’s personal reality, which includes how we make sense of experience, individually and collectively. We find these practices to consistently deliver deeply meaningful experiences, and believe a few clarifications can make this accessible to you. Because Circling is unique, carrying over assumptions from other practices can lead to misunderstandings about who we are, what we do, and how you are invited to engage. It is our intention to make it clear what Circling is and isn't. </div>
<div><br></div>
<div>Read over the following statements to determine whether or not Circling will be a good fit for you.</div>
<div><br></div>
<div><strong>Responsibility</strong></div>
<ul>
   <li>We see you as a free agent capable of honest self-assessment and responsible choice</li>
   <li>
      This is an invitation to take responsibility for:
      <ul>
         <li>yourself and your experience</li>
         <li>choices you’re making about what you’re accepting as true and significant</li>
         <li>how you’re participating in and helping to sustain your situation</li>
         <li>the beliefs and choices you’re bringing to the situation (wittingly or unwittingly) that are informing your experience.</li>
      </ul>
   </li>
   <li>We refer generally to the willingness to take responsibility in these terms as “owning your experience.”</li>
</ul>
<div><br></div>
<div><strong>Not Psychotherapy</strong></div>
<div>Circling and Surrendered Leadership as we practice them lead to transformational growth, but we do this through surrender, self-leadership, and interconnection rather than aiming for healing outcomes. While honoring a wide variety of wisdom and psychological discernments from many schools of thought, we do not follow a therapeutic model of diagnosis and treatment. Our method is educational.</div>
<div><br></div>
<div>Circling Europe’s facilitators and coaches are guides in a journey of presence, connection, and aliveness. We do not prescribe choices or actions. We are not psychotherapists (although we love psychotherapy and highly recommend it); we do not see you as being in a therapeutic relationship with our facilitators. We work in the present moment, assuming wholeness that can include greater wholeness, exploring connection, staying mindful to notice the cost of reality choices and labels that too easily lead to misunderstanding or pathologizing. We bring a fresh set of eyes to what is happening, with the aim of understanding how updating our beliefs about what is happening can update our reality. </div>
<div><br></div>
<div>Circling and Surrendered Leadership:</div>
<ul>
   <li>Are practices of presence and meditation </li>
   <li>Aim is to reveal more presence</li>
   <li>Are open and intimate forums where we encourage our participants to speak and explore evolutionary ideas such as “getting somewhere” or the intent to grow and develop, but we do not presume that these things are the drivers of experience. Paradoxically this often results in accelerated development by bringing to light previously unseen motivations and agendas.</li>
   <li>Maintain a non-goal orientation that is encapsulated in the principle of “being with others in their world.”</li>
</ul>
<div><br><strong>The Structure and Expectations of Leadership</strong></div>
<div>You may come with specific expectations about what a leader should do, or what a practice group should look like and include. We will often not be following these expectations, partially because we often do not have any idea what they are (and you may not either!). Some examples include (but aren’t limited to):<br><br></div>
<ul>
   <li>Telling people what to do</li>
   <li>Stating the “right way” to act</li>
   <li>Making sure everyone gets along</li>
   <li>Maintaining a boundary that the internal experiences of the leaders are excluded from the practice</li>
   <li>Whenever it is asked, providing everyone with a clear interpretation of what is happening and why it is happening this way (we will act in ways we believe are in service to good practice, which might include providing any clarity we have).</li>
</ul>
<div>In lieu of these tacit agreements, we hold a continuous context of “Surrendered Leadership” whereby you are invited to “lead” yourself in any way—taking a bathroom break whenever you need, for example—and to “lead” the group in full acknowledgement that others are doing the same, and their responses are feedback to that particular leadership and attunement to the moment’s context. This encouragement to listen to the voice of inner direction is held with the principle to “trust your experience<em>.”</em></div>
<div><br></div>
<div><strong>You shouldn’t join if...</strong></div>
<div>Our workshops are often intense. People encounter places, states, emotions, beliefs, and sensations in themselves and others that are often unfamiliar. We often explore the unknown, the volatile, the ambiguous, as well as welcome emotions many deem as “negative” or “inappropriate” such as inadequacy, anger, sexual desire, and extreme happiness. We often refer to the willingness to feel difficult and uncomfortable truths as the “<em>Commitment to Connection</em>” which of course includes a willingness to set appropriate boundaries, speak desires for space, distance, and non-contact. By attending our events you take responsibility for choosing to leave the practice or participate in any given moment—which might include getting intimate with these kinds of experiences.</div>
<div><br></div>
<div>We will often go deeper into multiple sides of seeming opposites at once, such as independence and interdependence, chaos and order, agreement and disagreement. Aside from just being the truth of what’s there, we believe it reveals an underlying unity of the immediacy of experience. </div>
<div><br></div>
<div>If the above description of our workshops sounds potentially overwhelming or destabilizing for you; if you have mental illness or significant emotional challenges that may be exacerbated by this type of transformational environment; or if you are not sure that you can be self-directed in taking care of your own needs during the course, then we urge you to consider that our workshops are probably not right for you.</div>
<div> </div>
<div><strong>Legal Responsibility</strong></div>
<div>In line with all of the above, you won’t hold Circling Europe or our facilitators legally responsible for what happens to you in (or in any way related to) our events (excepting in cases of gross negligence).</div>
<div> </div>
<div><strong>By registering you acknowledge that you have read and agree to abide by these Terms of Service.</strong></div>
<div> </div>
<div>From here on out, “we” will refer to Circling Europe <em>and </em>you, the participant; thus continues our relational journey. </div>
<div><br></div>
<div>Finally, you can direct general inquiries to <a target="_blank" rel="noreferrer" class="autolinked" data-behavior="truncate" href="mailto:team@circlingeurope.com">team@circlingeurope.com</a></div>
